*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}
body{
    background: #ffffff;
}
/* ------Header Section------ */
.header{
    min-height: 100vh;
    width: 100%;
    margin: auto;
    background: linear-gradient(rgba(32, 33, 39, 0.502),rgba(36, 36, 34, 0.502)), url(/Images/banner.png.webp);
    filter: brightness(0.9);
    background-position: center;
    background-repeat: no-repeat;   
    position: relative; 
}
.nav{
    width: 80%;
    margin-top: 40px;
    position: absolute;
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1.5px solid #384046;
    /* left: 10%; */
    left: calc(50% - 612px);
    
}
.nav img{
    width: 160px;
}
/* .menu{
    float: center;
} */
.menu ul li{
    list-style-type: none;
    display: inline-block;
    padding: 12px 20px;
}
.menu ul li a{
    text-decoration: none;
    font-size: 110%;
    letter-spacing: 0.8px;
    color: #fff;
    text-align: center;
    
}
.menu ul li a::after{
    content: '';
    height: 3px;
    width: 0%;
    display: block;
    margin: auto;
    background-color: #f44336; 
    transition: 0.5s;
}
.menu ul li a:hover{
    color: #ecd4d4;
}
.menu ul li:hover a::after{
    width: 100%;
}
.search{
    color: #fff;
    padding: 12px 15px 0px 20px;
    float: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search_btn{
    padding: 0px 25px;
}
.search_quote button{
    background-color:#28AE60;
    padding: 0px 8px;
    height: 40px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid transparent;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 0.5px;
    
}
.header_txt{
    width: 70%;
    height: 300px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.header_txt h1{
    /* font-family: 'Poppins', sans-serif; */
    font-size: 50px;
    letter-spacing: 2px;
    font-weight: 400;
    line-height: 62px;
    padding: 30px 0px;
    padding-bottom: 10px;
}
.header_txt p{
    margin-top: 0px;
    padding: 0px 0px;
    font-size: 20px;
    letter-spacing: 0.8px;
    color: #eae1e1;
}
.header_btn{
    margin-top: 20px; 
}
.header_btn .service{
    display: inline-block;
    padding: 12px 10px;
    background: #28AE60;
    font-size: 17px;
    border-radius: 8px;
    border: 1px solid #28AE60;
}
.header_btn .work{
    display: inline-block;
    padding: 12px 10px;
    background: transparent;
    font-size: 15px;
    border-radius: 8px;
    border: 2px solid #fff;
    margin-left: 22px;
}
.header_btn .service a{
    text-decoration: none;
    letter-spacing: 1px;
}
.header_btn .work a{
    text-decoration: none;
    letter-spacing: 0.9px;
}

/* ------Solution Section------ */

.solution{
    margin: 10% auto;
    position: relative;
    width: 80%;
}
.solution>h1{
    color: #111;
    padding-bottom: 5%;
    text-align: center;
}
.sol_row{
    display: flex;
    position: relative;
    justify-content: space-between;
}
.sol_col{
    position: relative;
}
.sol_img{
    display: block;
    width: 100%;
    height: auto;
    border: 1.5px solid rgb(5, 8, 10);
    border-radius: 20px;
}
.layer{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: #60634d;
    opacity: 0;
    transition: 0.7s;
}.lyr_txt{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 20px;
    color: #4D4D4D;
    margin-bottom: 13px;
    font-family: "Poppins", sans-serif;
}
.sol_col:hover .layer{
    opacity: 0.8;
    border-radius: 20px;
}
.sol_col:hover .lyr_txt{
    opacity: 1;
}
.lyr_txt h2{
    padding-bottom: 13px;
    text-align: center;
    color: #111;
    font-size: 130%;
    font-weight: 550;
}
.lyr_txt p{
    font-weight: 220;
}


/* ---Facility--- */

.facility{
    margin: auto;
    text-align: center;
    width: 80%;
    position: relative;
}
.faci-column{
    flex-basis: 31%;
    margin-bottom: 30px;
    border-radius: 12px;
    position: relative;
    overflow: hidden;
}


/* ------About Section------ */

.about{
    margin-top: 10%;
    display: flex;
    align-items: center;
}
.about img{
    display: block;
    width: 50%;  
    height: 50%;
    margin-left: 1%;
}
.about_txt{
    margin-left: 5%;  
}
.about_txt h2, p{
    color: #111;     
}
.about_txt h2{
    font-size: 36px;
    line-height: 55px;
    font-weight: 300;
    color: #2C2C2C;
}
.about_txt p{
    font-size: 17px;
    line-height: 28px;
    color: #727272;
    margin-bottom: 22px;
    margin-top: 28px;
}
.about_txt ul{
    padding-left: 18px;
}
.about_txt ul li{
    color: #111;
    line-height: 28px;
    font-size: 18px;
    color: #727272; 
    padding-left: 0px;
    margin-bottom: 5px;
    font-weight: 400;
    z-index: 1;
    list-style-type: disc;
}
.about_btn{
    font-size: 17px;
    background: #28AE60;
    color: #fff;
    width: 29%;
    line-height: 43px;
    border: 2px solid #28AE60;
    text-align: center;
    border-radius: 5px;
    margin-top: 7%;
}
.about_btn a{
    letter-spacing: 1px;
    text-decoration: none;
}
.about_btn:hover
{
    cursor: pointer;
    background: #498c64;
}

/* -----counter Section----- */
.cs{
    margin-top: 5%;
    width: 100%;
    background: #F5FBFF;
    padding: 18px 0px 18px 0px;
}
.count{
    margin: auto;
    width: 70%;
}
.cnt_row{
    display: flex;
    justify-content: space-between;
}
.cnt_col{
    flex-basis: 20%;
    /* background: #fffefe; */
    text-align: center;
    padding: 20px;
}
.fa-solid{
    color: #1c1818dd;
    font-size: 70px;
    padding-bottom: 5%;
}
.cnt_box h3{
    padding-top: 5px;
    color: #423f3f;
    font-size: 150%;
    font-weight: 500;
}
.cnt_box p{
    font-family: 'Poppins', sans-serif;
    font-size: 110%;
    line-height: 30px;
    letter-spacing: 0.8px;
}

/* ---Recent work--- */
.rework{
    width: 80%;
    margin: 10% auto;
    position: relative;
}
.rework h1{
    color: #111;
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.rework p{
    color: #727272; 
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.6px;
    font-family: 'Poppins', sans-serif;
}
.grid-container{
    margin-top: 10%;
    display: grid;
    background: rgb(55, 168, 191);
    grid-template-areas: "item1 item2 item3"
                         "item1 item4 item5";
    grid-template-columns: auto auto auto;
    padding: 10px;
    gap: 10px;

}
.grid-container>div{
    background: rgb(49, 122, 82);
    text-align: center;
    font-size: larger;
}
/* .item4{
    grid-row: 2;
    grid-column: 1/ span 2;
} 
.item2{
    grid-column: 2;
    grid-row: 1/span 2;
} */
.grid-container > div:first-child{
    grid-area: item1;
    height: 450px;
}
.grid-container>div>img{
    border: 2px solid #111;
    width: 10%;
}

/* footer */
* 
  a {
    color: #fff;
    text-decoration: none;
  }
  .pg-footer {
    font-family: 'Roboto', sans-serif;
  }
  
  .footer {
      background-color: #004658;
      color: #fff;
  }
  .footer-wave-svg {
      background-color: transparent;
      display: block;
      height: 30px;
      position: relative;
      top: -1px;
      width: 100%;
  }
  .footer-wave-path {
      fill: #fffff2;
  }
  
  .footer-content {
      margin-left: auto;
      margin-right: auto;
      max-width: 1230px;
      padding: 40px 15px 0px;
      position: relative;
  }
  
  .footer-content-column {
      box-sizing: border-box;
      float: left;
      padding-left: 15px;
      padding-right: 15px;
      width: 100%;
      color: #fff;
  }
  
  .footer-content-column ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-logo-link {
      display: inline-block;
  }
  .footer-menu {
      margin-top: 30px;
  }
  
  .footer-menu-name {
      color: #fffff2;
      font-size: 15px;
      font-weight: 900;
      letter-spacing: .1em;
      line-height: 18px;
      margin-bottom: 0;
      margin-top: 0;
      text-transform: uppercase;
  }
  .footer-menu-list {
      list-style: none;
      margin-bottom: 0;
      margin-top: 10px;
      padding-left: 0;
  }
  .footer-menu-list li {
      margin-top: 5px;
  }
  
  .footer-call-to-action-description {
      color: #fffff2;
      margin-top: 10px;
      margin-bottom: 20px;
  }
  .footer-call-to-action-button:hover {
      background-color: #fffff2;
      color: #00bef0;
  }
  .button:last-of-type {
      margin-right: 0;
  }
  .footer-call-to-action-button {
      background-color: #027b9a;
      border-radius: 21px;
      color: #fffff2;
      display: inline-block;
      font-size: 11px;
      font-weight: 900;
      letter-spacing: .1em;
      line-height: 18px;
      padding: 12px 30px;
      margin: 0 10px 10px 0;
      text-decoration: none;
      text-transform: uppercase;
      transition: background-color .2s;
      cursor: pointer;
      position: relative;
  }
  .footer-call-to-action {
      margin-top: 30px;
  }
  .footer-call-to-action-title {
      color: #fffff2;
      font-size: 14px;
      font-weight: 900;
      letter-spacing: .1em;
      line-height: 18px;
      margin-bottom: 0;
      margin-top: 0;
      text-transform: uppercase;
  }
  .footer-call-to-action-link-wrapper {
      margin-bottom: 0;
      margin-top: 10px;
      color: #fff;
      text-decoration: none;
  }
  .footer-call-to-action-link-wrapper a {
      color: #fff;
      text-decoration: none;
  }
  
  .footer-social-links {
      bottom: 0;
      height: 54px;
      position: absolute;
      right: 0;
      width: 236px;
  }
  
  .footer-social-amoeba-svg {
      height: 54px;
      left: 0;
      display: block;
      position: absolute;
      top: 0;
      width: 236px;
  }
  
  .footer-social-amoeba-path {
      fill: #027b9a;
  }
  
  .footer-social-link.linkedin {
      height: 26px;
      left: 3px;
      top: 11px;
      width: 26px;
  }
  
  .footer-social-link {
      display: block;
      padding: 10px;
      position: absolute;
  }
  
  .hidden-link-text {
      position: absolute;
      clip: rect(1px 1px 1px 1px);
      clip: rect(1px,1px,1px,1px);
      -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
      clip-path: inset(0px 0px 99.9% 99.9%);
      overflow: hidden;
      height: 1px;
      width: 1px;
      padding: 0;
      border: 0;
      top: 50%;
  }
  
  .footer-social-icon-svg {
      display: block;
  }
  
  .footer-social-icon-path {
      fill: #fffff2;
      transition: fill .2s;
  }
  
  .footer-social-link.twitter {
      height: 28px;
      left: 62px;
      top: 3px;
      width: 28px;
  }
  
  .footer-social-link.youtube {
      height: 24px;
      left: 123px;
      top: 12px;
      width: 24px;
  }
  
  .footer-social-link.github {
      height: 34px;
      left: 172px;
      top: 7px;
      width: 34px;
  }
  
  .footer-copyright {
      background-color: #027b9a;
      color: #fff;
      padding: 15px 30px;
    text-align: center;
  }
  
  .footer-copyright-wrapper {
      margin-left: auto;
      margin-right: auto;
      max-width: 1200px;
  }
  
  .footer-copyright-text {
    color: #fff;
      font-size: 13px;
      font-weight: 400;
      line-height: 18px;
      margin-bottom: 0;
      margin-top: 0;
  }
  
  .footer-copyright-link {
      color: #fff;
      text-decoration: none;
  }

  @media (min-width: 760px) {
    .footer-content {
        margin-left: auto;
        margin-right: auto;
        max-width: 1230px;
        padding: 40px 15px 450px;
        position: relative;
    }
  
    .footer-wave-svg {
        height: 50px;
    }
  
    .footer-content-column {
        width: 24.99%;
    }
  }

  